<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animalia | Animal's House</title>

    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="alert alert-danger text-center">
              <div class="display-1">Opps!</div>
              <div class="display-2 mb-4">Error..!</div>
              <p class="lead">Something was wrong...</p>
              <p class="lead">
                <span class="text-info"><u>Message :</u></span> <em><span class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quam?</span></em>
              </p>
              <a href="/home" class="btn btn-success">&laquo Go Back To Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
            

    <script src="../js/jquery-3.2.1.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/fa-icon.js"></script>
  </body>
</html>
