<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Animalia | Animal's House</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Codrops" />
    <!-- <link rel="shortcut icon" href="favicon.26242483.ico"> -->
    <link rel="stylesheet" type="text/css" href="../css/home.css" />
  </head>
  <body class="home loading">
    <main>
      <div class="content">
        <div class="grid">
          <div class="grid__item pos-1">
            <div
              class="grid__item-img"
              style="background-image: url(../images/grid/1.dc197a9a.jpg)"
            ></div>
          </div>
          <div class="grid__item pos-2">
            <div
              class="grid__item-img"
              style="background-image: url(../images/grid/2.3ca6bb44.jpg)"
            ></div>
          </div>
          <div class="grid__item pos-3">
            <div
              class="grid__item-img"
              style="background-image: url(../images/grid/3.a433b89d.jpg)"
            ></div>
          </div>
          <div class="grid__item pos-4">
            <div
              class="grid__item-img"
              style="background-image: url(../images/grid/4.c6d96be5.jpg)"
            ></div>
          </div>
          <div class="grid__item pos-5">
            <div
              class="grid__item-img"
              style="background-image: url(../images/grid/5.689b68fd.jpg)"
            ></div>
          </div>
          <div class="grid__item pos-6">
            <div
              class="grid__item-img"
              style="background-image: url(../images/grid/6.e96dcfff.jpg)"
            ></div>
          </div>
          <div class="grid__item pos-7">
            <div
              class="grid__item-img"
              style="background-image: url(../images/grid/7.2d66e3ed.jpg)"
            ></div>
          </div>
          <div class="grid__item pos-8">
            <div
              class="grid__item-img"
              style="background-image: url(../images/grid/8.f4323fe0.jpg)"
            ></div>
          </div>
          <div class="grid__item pos-9">
            <div
              class="grid__item-img"
              style="background-image: url(../images/grid/9.c9233dac.jpg)"
            ></div>
          </div>
          <div class="grid__item pos-10">
            <div
              class="grid__item-img"
              style="background-image: url(../images/grid/10.5e22fdc3.jpg)"
            ></div>
          </div>
        </div>
        <h2 class="content__title no-select">
          <span>Animalia</span><span class="content__title-sub">- One & Only Animal Info House</span>
        </h2>
        <div class="btn-wrap">
          <a href="/" class="btn">About</a>
          <a href="/" class="btn">Animals</a>
        </div>
      </div>
    </main>
    <svg class="cursor" width="80" height="80" viewBox="0 0 80 80">
      <circle class="cursor__inner" cx="40" cy="40" r="20"></circle>
    </svg>
    <script src="../js/home.js"></script>
  </body>
</html>
