<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>

    <div class="container-fluid">
      <header class="header-wrap">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <div class="container">
            <a href="#" class="navbar-brand">ImDo</a>
          <button:button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-nav">
            <span class="navbar-toggler-icon"></span>
          </button:button>
          <div class="navbar-collapse collapse" id="navbar-nav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a href="" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="" class="nav-link">Profile</a></li>
              <li class="nav-item">
                <a href="" class="btn btn-danger ms-lg-3">Logout</a>
              </li>
            </ul>
          </div>
          </div>
        </nav>
      </header>

      <main>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 col-12 mx-auto">
              <div class="section-heading text-center my-5">
                <h2 class="text-info">Welcome to Image Window...</h2>
                <p class="lead">Login your free accout now..!</p>
              </div>
              <div class="signup-form card">
                <form action="" class="form card-body">
                  <div class="input-group mb-3">
                    <input type="email" name="email" id="email" class="email form-control" placeholder="Enter your email address">
                  </div>
                  <div class="input-group mb-3">
                    <input type="password" name="password" id="password" class="form-control password" placeholder="Enter your password">
                  </div>
                  <div class="input-group mb-3 d-grid">
                    <button type="submit" class="btn btn-info text-light">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>



    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
  </body>
</html>
