<%- include('templates/header', {active : 'about', }) -%>

<main>
  <div class="container">
    <div class="section-heading">
      <div class="py-5">
        <h3 class="text-center text-secondary heading">About Animalia</h3>
      </div>
    </div>

    <div class="about-wrap">
      <div class="card mb-5">
        <div class="card-body">
          <div class="card-heading">
            <h3>What is Animalia?</h3>
          </div>
          <div class="answer">
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
              facere illo illum magni nam eos exercitationem vel porro unde
              tempora fugiat a soluta ipsa id iusto nesciunt velit, quam culpa!
            </p>
          </div>
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-body">
          <div class="card-heading">
            <h3>Animalia's Mission</h3>
          </div>
          <div class="answer">
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
              facere illo illum magni nam eos exercitationem vel porro unde
              tempora fugiat a soluta ipsa id iusto nesciunt velit, quam culpa!
            </p>
          </div>
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-body">
          <div class="card-heading">
            <h3>Animalia's Vision</h3>
          </div>
          <div class="answer">
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
              facere illo illum magni nam eos exercitationem vel porro unde
              tempora fugiat a soluta ipsa id iusto nesciunt velit, quam culpa!
            </p>
          </div>
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-body">
          <div class="card-heading">
            <h3>About Animalia?</h3>
          </div>
          <div class="answer">
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
              facere illo illum magni nam eos exercitationem vel porro unde
              tempora fugiat a soluta ipsa id iusto nesciunt velit, quam culpa!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Main Section End -->

<%- include('templates/footer') %>
