<%- include('templates/header', {active : ''}) %>

<main>
  <div class="container">
    <div class="section-heading">
      <div class="py-5">
        <h3 class="text-center text-secondary heading">Login Your Account</h3>
      </div>
    </div>

    <div class="row pb-5">
      <div class="col-lg-8 col-md-10 mb-5 mx-auto">
        <div class="card mb-5">
          <div class="card-body">
            <form action="/login" method="post" class="form">
              <div class="from-group mb-3">
                <label for="email"
                  >Your Email : <span class="text-danger">*</span></label
                >
                <input
                  type="email"
                  name="email"
                  placeholder="Enter Your Email"
                  id=""
                  class="email form-control"
                  required
                />
              </div>

              <div class="form-group mb-3">
                <label for="password"
                  >Your Password : <span class="text-danger">*</span></label
                >
                <input
                  type="password"
                  name="password"
                  placeholder="Enter Your Password"
                  id=""
                  class="password form-control"
                  required
                />
              </div>

              <div class="form-group mb-3">
                <button type="submit" class="btn btn-success">Login Now</button>
              </div>
            </form>
          </div>

          <div class="card-footer">
            <p class="lead">
              Not an account? <a href="/signup" class="">Sign Up Now</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Main Section End -->

<%- include('templates/footer') %>
