<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>

      <main>
        <div class="container mt-5">
          <div class="row">
            <div class="col-lg-8 col-md-10 col-12 mx-auto py-5">
              <div class="test-center alert alert-danger">
                <div class="display-1">Opps...!</div>
                <div class="display-3">Something Was Wrong!</div>
                <p class="lead">Error : <%= message %> </p>
              </div>
              <a href="/" class="btn btn-info">Go To Home Page</a>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
  </body>
</html>
