<%- include('templates/admin-header', { active : 'social', title : 'New Social'}) %>

      <section class="hero-wrap cp-wrap" id="hero-section">
        <div class="container pt-5">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="create-portfolio py-5">
                <div class="card">
                  <div class="card-header">
                    <h3 class="text-center text-secondary">
                      Create Social Account
                    </h3>
                  </div>
                  <div class="card-body">
                    <form action="/c-panel/social" class="form text-dark" method="post">
                      <div class="form-group mb-3">
                        <label for="name">Your Profile Name :</label>
                        <input
                          type="text"
                          name="profile_name"
                          id="profile-name"
                          class="profile-name form-control"
                          placeholder="Enter Your Profile Name"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <label for="url">Your URL :</label>
                        <input
                          type="text"
                          name="site_url"
                          placeholder="Enter Your URL"
                          id="site-url"
                          class="site-url form-control"
                        />
                      </div>
                      <div class="form-group mb-3">
                        <label for="cover_image">Your Icon Name :</label>
                        <input
                          type="text"
                          name="icon_name"
                          placeholder="Enter Icon Name"
                          id="icon-name"
                          class="icon-name form-control"
                        />
                      </div>
                      <div class="form-group mb-2">
                        <button type="submit" class="btn btn-danger">
                          Create Social
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="footer-wrapper" id="footer-section">
        <div class="container">
          <div class="copyright-secton">
            <p class="lead text-center py-5">
              &copy;
              <script>
                let d = new Date();
                let y = d.getFullYear();
                document.write(y);
              </script>
              All Rights Reserved -
              <a href="#" class="text-light">M. Hassan's Portfolios</a>
            </p>
          </div>
        </div>
      </section>
      <!-- Footer secton end -->
    </div>
    <!-- Full site container end -->

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/all.js"></script>
    <!-- <script src="js/ztext.js"></script> -->
    <script src="https://bennettfeely.com/ztext/js/ztext.min.js"></script>

    <script src="js/app.js"></script>
  </body>
</html>
