
      <section class="footer-wrapper" id="footer-section">
        <div class="container">
          <div class="copyright-secton">
            <p class="lead text-center py-5">
              &copy; 
              <script>
                let d = new Date();
                let y = d.getFullYear();
                document.write(y);
              </script>
              All Rights Reserved - 
              <a href="#" class="text-light">M. Hassan's Portfolios</a>
            </p>
          </div>
        </div>
      </section>
      <!-- Footer secton end -->
    </div>
    <!-- Full site container end -->

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/all.js"></script>
    <!-- <script src="js/ztext.js"></script> -->
    <script src="https://bennettfeely.com/ztext/js/ztext.min.js"></script>

    <script src="../js/app.js"></script>
  </body>
</html>
