<!-- Footer Copyright Section -->
<footer class="sticky-bottom">
  <div class="container py-3">
    <p class="lead text-center">
      &copy; 2021 All Rights Reserved <a href="/">Animalia</a>
    </p>
  </div>
</footer>
</div>

<script src="../js/jquery-3.2.1.js"></script>
<script src="../js/popper.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/fa-icon.js"></script>
</body>
</html>
